html {
	overflow: auto !important;
}

body {
	font-family: $font;
	font-size: $txt-r;
	line-height: normal;
}

h1 {
	font-size: $txt-ml;
	font-weight: 700;
}

h2 {
	font-size: $txt-r*1.1;
	margin-bottom: 3px;
}

h4 {
	font-size: $txt-s;
}

p {
	margin: 20px 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#wrapper {

}

.container {
	margin: 150px auto 0;
	max-width: calc(100% - 20px);
	width: 950px;
	padding: 0;

	@include breakpoint(desktop) {
		margin-top: 30px;
	}
}

.btn-selected {
	color: $white;
	background: $black;
}

.uva-logo,
.social-menu {
	a {
		opacity: 1;
		transition: opacity linear 0.2s;
		&:hover {
			opacity: 0.5;
		}
	}
}