header {
	top: 0;
	z-index: 1;
	width: 100%;
	max-width: none;
	position: fixed;
	padding: 15px 0 0;
	text-align: center;
	background: $white;
	border-bottom: 1px solid $black;

	@include breakpoint(desktop) {
		padding: 0 0 25px;
		max-width: calc(100% - 20px);
		width: 950px;
		margin: 35px auto 0;
		text-align: left;
		position: initial;
	}

	img {
		width: auto;
		height: 60px;
	}

	.uva-logo {
		height: 60px;
		@include breakpoint(desktop) {
			display: inline-block;
		}
	}
}

#menu {
	margin-top: 20px;

	@include breakpoint(desktop) {
		float: right;
		margin-top: 5px;
	}
}

.mobile-menu {
	color: $black;
	font-weight: 700;
	font-size: $txt-r;
	padding-bottom: 10px;

	@include breakpoint(desktop) {
		display: none;
	}
}

.menu-main-menu-container {
	display: none;
	padding: 10px 0 20px;
	border-top: 1px solid #eee;

	@include breakpoint(desktop) {
		border: 0;
		padding: 0;
		display: block;
	}

	li {
		@include breakpoint(desktop) {
			display: inline-block;
			margin-left: 30px;
		}

		&:first-child {
			margin: 0;
		}
	}

	a {
		color: $black;
		font-weight: 700;
		font-size: $txt-r;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 40px;
		display: block;
		padding: 0 10px;
		transition: background-color linear 0.2s, color linear 0.2s;

		&:hover {
			@extend .btn-selected;
		}
	}
}