.single-portfolio {
	.btn-proyectos a {
		@extend .btn-selected;
	}
}

.nextend-thumbnail-scroller {
	background: white !important;
	justify-content: space-around;
	flex-direction: row !important;

	@include breakpoint(desktop) {
		justify-content: flex-start;
	}

	> .n2-ow {
		margin: 10px 0 0 !important;

		@include breakpoint(desktop) {
			margin-right: 10px !important;
		}
	}
}

.nextend-thumbnail-inner,
.nextend-thumbnail-scroller {
	padding: 0 !important;
	height: auto !important;
	width: calc(100vw - 20px) !important;

	@include breakpoint(desktop) {
		max-width: 720px !important;
	}
}

.oi_portfolio_page_holder {
	padding: 20px 0;
	@include breakpoint(desktop) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.description {
		@include breakpoint(desktop) {
			width: 200px;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.n2-ss-align {

		@include breakpoint(desktop) {
			width: 720px;
			margin: 0 !important;
		}

		~ div {
			display: none;
		}

		~ p {
			width: 100%;
		}
	}

	.n2-clear {
		@include breakpoint(desktop) {
			width: 0;
		}
	}
}

.btn-ver-proyecto-link {
	@extend .btn-selected;
	float: right;
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		background-color: $grey-dark;
	}
}