.servicios {
	.btn-servicios a {
		@extend .btn-selected;
	}

	h2 {
		font-weight: 500;
		font-size: $txt-ml;
	}
}

.servicios-boxes {
	@include breakpoint(desktop) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	div {
		flex-grow: 1;
		padding: 18px;
		text-align: justify;

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}

		p {
			margin: 0;
		}

		h2 {
			text-align: center;
		}

		h2 ~ p {
			margin: 15px 0;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}
	}

	a {
		@extend .btn-selected;
		padding: 5px 10px;

		&:hover {
			text-decoration: none;
			background-color: $grey-dark;
		}
	}
}

.mas-servicios-btn {
	cursor: pointer;
}

.mas-servicios-text {
	display: none;
	color: $white;
	padding: 15px;
	margin-top: 15px;
	position: relative;
	background: $black;

	&:before {
		content: '';
		width: 0;
		height: 0;
		top: -20px;
		left: 40px;
		display: block;
		position: absolute;
		border: 10px solid transparent;
		border-bottom-color: $black;
	}
}